div{
    background-color: aquamarine;
    padding: 10px;
    margin: 11px;
}
h1{
    background-color: rgb(255, 0, 51);
    color: #ffffff;
    text-align: center;
}
li{
    background-color: rgb(225, 165, 87);
}